@mixin headerColor($color) {
  background-color: $color;
  border-color: scale-color($color, $lightness: 20%, $saturation: -70%);
}

.header {
  text-transform: uppercase;
  color: #fff;
  border-bottom: .6rem solid;
  text-align: left;
  @include headerColor(rgb(44, 26, 61));

  &.subscreen {
    font-family: $header75Bold;
    font-size: 2.9rem;
    @media (max-width: 486px) {
      font-size: 3.3rem;
    }

    letter-spacing: -0.05rem;
    font-weight: 800;

    padding-left: 2.7rem;
  }

  &.general {
    font-family: $header65Medium;
    font-size: 1.2rem;
    @media (max-width: 486px) {
      font-size: 1rem;
    }
    letter-spacing: 0.05rem;
  }

  &.tooltip {
    font-family: $header65Medium;
    font-size: 2.5rem;
    @media (max-width: 486px) {
      font-size: 2.3rem;
    }
    letter-spacing: 0.05rem;
  }

  &.tracked-title {
    font-family: $header65Medium;
    font-size: 2.5rem;
    @media (max-width: 486px) {
      font-size: 2.3rem;
    }
    letter-spacing: 1rem;
  }
}
